.main-container {
    height: 100vh;
    background-color: #1F232E;
    width: 100%;
    overflow: hidden;
}
.plans{
    height: 100%;
    position: relative;
    overflow: scroll;
}
.plan-title{
    text-align: center;
    margin-top: 25px;
}

/* @-prefix-keyframes slide {
    from {}
} */