.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    box-shadow: 7px 3px 18px 5px rgba(0,0,0,0.8);
    margin-top: 25px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: rgba(247, 246, 242, 0.7);
    border-radius: 15px;
    color: black;
}

/* .plan:hover {
    box-shadow: 4px 0px 18px 5px rgba(0,0,0,0.8);
} */

.planTitle {
    margin-top: 10px;
}

.planPrice {
    margin-top: 10px;
}

.plan-metadata p{
    margin-top: 10px;
    margin-bottom: 10px;
}


.plan button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    width: 100px;
    height: 25px;
    background-color: rgba(2,114,182, 0.7);
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 14px 17px 24px -10px rgba(0,0,0,0.62);
    cursor: pointer;
}

